<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add ToDo</title>
    <link rel="stylesheet" href="addtodo.css">
</head>
<body>
    <div class="todoList">
        <form class="todo" action="/addTodo" method="POST">
            <h1>Добавить Задачу</h1>
            <a href="/">Вернуться в То-До лист</a>
            <input type="text" name="title" required>
            <button type="submit">Добавить</button>
        </form>
    </div>
</body>
</html>