<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My ToDo List</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="todoList">
      <div class="todo">
        <h1>My To-Do List</h1>
        <a href="/addTodo">Добавить Задачу</a>
        <ol>
          <% todos.forEach(todo => { %>
          <li>
            <%= todo.title %>
            <span class="spaceForLi"></span>
            <div class="todoForms">
              <form action="/toggle/<%= todo.id %>" method="POST">
                <input type="checkbox" name="completed"
                onchange="this.form.submit()" <%= todo.completed ? "checked":""
                %> />
              </form>
              <form
                action="/delete/<%= todo.id %>"
                method="POST"
                style="display: inline"
              >
                <button type="submit">❌</button>
              </form>
            </div>
          </li>
          <% }) %>
        </ol>
      </div>
    </div>
  </body>
</html>
